/*  your css code here. If applicable */
body {
    width: 1100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

.imageContainer {
    margin-bottom: 20px;
}